<% if conversation.assistant.system_prompt.present? %>
  <div class="l-ui-message">
    <div class="l-ui-message__bubble">
      <div class="l-ui-message__author">System</div>
      <div class="l-ui-message__body">
        <%= conversation.assistant.system_prompt %>
      </div>
    </div>
  </div>
<% end %>
