<% if @error %>
  <%= turbo_stream.append "#{dom_id(@conversation)}_messages" do %>
    <div class="l-ui-notice--error l-ui-utility--mb-0" role="alert"><%= @error %></div>
  <% end %>
<% end %>

<%= turbo_stream.replace "composer-form" do %>
  <%= render "layered/assistant/messages/composer", conversation: @conversation, models: @models, selected_model_id: @selected_model_id %>
<% end %>
