<div class="l-ui-container--spread">
  <h1>New Conversation</h1>
  <%= link_to "Back", layered_assistant.conversations_path, class: "l-ui-button--outline" %>
</div>

<%= render "form", conversation: @conversation, url: layered_assistant.conversations_path %>
